<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>-->
</head>
<body>
<h1 class="display-1">My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2 class="display-2">My Profile</h2>
    <p class="text-muted" th:text="${name}"></p>
    <p class="text-muted" th:text="${skintype}"></p>
    <p class="text-muted" th:text="${manipedi}"></p>
</div>
<div>
<h2 class="display-2">Menu of Available Services</h2>
</div>
<div id = "servicesMenu">
    <h3 class="display-3">Facial Treatments</h3>
    <p class="text-muted">The facial treatments below are recommended <br />
        by our estheticians for your given skin type. </p>
   <table>
       <th:block th:each = "facial : ${appropriateFacials}">
           <tr>
           <td class="text-muted" scope="row" th:text = "${facial}">Facial</td>
           </tr>
       </th:block>
   </table>

    <div id = "manipedi">
        <th:block th:if ="${manipedi.equals('pedicure')}" >
       <h3 class="display-3">Pedicure</h3>
        <p class="text-muted" th:replace = "fragments :: pedicureDescription"></p>
        </th:block>

        <th:block th:if ="${manipedi.equals('manicure')}">
        <h3 class="display-3">Manicure</h3>
        <p class="text-muted" th:replace = "fragments :: manicureDescription"></p>
        </th:block>
    </div>

    </div>

</div>



</body>

<footer></footer>

</html>